.scrollpurple {
  background-color: blueviolet;
}
.scrollred {
  background-color: red;
}
.scrollgreen {
  background-color: green;
}
.scrollorange {
  background-color: orange;
}
.text {
  color: black;
}
