:root{
    --titles-color: grey;
    --links-color: green;
    --background-color: #eaeaea;
  }
  
  
  body {
    margin:0;
  }
  
  header{
    background-color:var(--background-color);
    padding:20px
  }
  
  main{
    padding:20px
  }
  
  p{
    width:50%;
    font-size: 16px
  }
  
  ul{
    list-style-type:none;
    padding:0
  }
  
  .title{
    color:var(--titles-color);
    margin:0
  }
  
  .subtitle{
    color:var(--titles-color);
    margin:0
  }
  
  .menu li {
    display:inline
  }
  
  .menu a {
    color:var(--links-color);
    text-decoration:none
  }
  
  p a {
    color:var(--links-color);
  }
  
  