<main class="page__main">
  <section class="main__section--first">
    <p class="section__text">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Modi odit fuga
      vel, provident vero fugit eius recusandae. Quaerat hic labore quo impedit
      perspiciatis obcaecati ut a dolorem! Placeat, eligendi iure.
    </p>
  </section>
  <section class="main__section--second">
    <h2 class="section__title">Lorem ipsum dolor sit amet</h2>
    <button class="section__button">Lorem</button>
  </section>
</main>
