/*para que me deje usar la función lighten*/
@use "sass:color";

.main__section--first {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & .section__text{
    text-align: center;
  }
}

.main__section--second {

  & .section__button{
    background-color: red;
    border-radius: 5px;
    height: 45px;

    /*esto son propiedades adicionales para que se vea mejor el button*/
    box-sizing: border-box;
    padding: 5px 30px;
    color: white;
    font-weight: bold;
    /*fin propiedades adicionales*/

    &:hover{
      /*para probar la función lighten*/
      background-color: lighten(red,20%);
    }
  }
}
