.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 100px;
}
.form {
  display: flex;
  gap: 10px;
}
.select {
  width: 50px;
}
.btn {
  background-image: linear-gradient(
    to bottom,
    rgb(16, 16, 248),
    rgb(86, 86, 161)
  );
  border-radius: 6px;
  border: none;
  width: 70px;
  height: 30px;
  padding: 2px;
  color: white;
}
.yellow {
  background-color: #ffcc00;
}

.orange {
  background-color: #ff9900;
}
