.divmadre {

}

.rojo, .verde, .azul {
    width: 300px;
    height: 300px;
    margin: 40px;
    padding: 30px;
}

.rojo {
    background-color: red;
    position: relative;
    left: 100px;
    top: 50px;
}
.verde {
    background-color: green;
    position: relative;
    left: -150px;
    top: -320px;

}
.azul {
    background-color: blue;
    position: relative;
    left: 180px;
    top: -240px;
}