* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}
.container {
    width: 500px;
    height:500px;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 2px solid black;
    background-color: aquamarine;
}
.number {
    background-color: chocolate;
    border:2px solid black;
}