body {
    background-color: red;
}


@media all and (min-width: 480px) {
    body {
        background-color: yellow;
    }
}
@media all and (min-width: 768px) {
    body {
        background-color: rgb(107, 172, 11);
    }
}
