.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-bottom: 30px;
}

.button {
    font-size: 2em;
}

.photo{
    height: 200px;
    width: 200px;
    clip-path: circle(50% at 50% 50%);
    object-fit: cover;
}

.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100vw;
}

.img-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 80vh;
    max-width: 60vw;
    overflow-y: auto;
}

.body{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 100%;
}

